[submodule "components/eigen"]
	path = components/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "examples/matplotlib_cpp"]
	path = examples/matplotlib_cpp
	url = https://github.com/borodziejciesla/matplotlib-cpp.git
